/* Импорт шрифтов */
@import url("https://fonts.googleapis.com/css2?family=Alfa+Slab+One&family=Bungee&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&family=Roboto:ital,wght@0,100..900;1,100..900&family=Rubik:ital,wght@0,300..900;1,300..900&family=Unbounded:wght@200..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Alfa+Slab+One&family=Bebas+Neue&family=Bungee&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&family=Roboto:ital,wght@0,100..900;1,100..900&family=Rubik:ital,wght@0,300..900;1,300..900&family=Unbounded:wght@200..900&display=swap");
html {
  width: 100vw;
  overflow-x: hidden;
  scroll-behavior: smooth;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

.headbar {
  margin-top: 1%;
  height: 100vh;
  width: 100vw;
}

.tags {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
}

.headbar-href {
  font-family: "Roboto", sans-serif;
  font-size: 110%;
  font-weight: 700;
  text-decoration: none;
  color: black;
}

.start {
  margin-top: -2%;
  height: 100%;
}

.fest-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 31.5%;
  margin-left: 2%;
  width: 22%;
  border-radius: 40px;
  z-index: 1;
  position: absolute;
  border: none;
  background-image: linear-gradient(
    153deg,
    rgb(235, 31, 31) 0%,
    rgb(143, 77, 197) 50%,
    rgb(47, 49, 172) 94%
  );
  cursor: pointer;
  transition: border 0.2s;
  text-decoration: none;
  color: white;
  font-family: "Roboto", sans-serif;
  font-size: 250%;
  font-weight: 500;
}

.hero-wrapper {
  height: 100%;
  width: 70vw;
  display: flex;
  align-items: center;
  margin: 0 auto; /* по центру */
}
.hero-wrapper img {
  width: 100%;
  height: auto; /* сохраняем пропорции */
  display: block;
  clip-path: url(#hero-clip);
}

.about-fest {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  background: #4da1a1;
  background: linear-gradient(
    179deg,
    rgba(77, 161, 161, 1) 0%,
    rgba(209, 243, 255, 1) 100%
  );
  height: 100vh;
  transition: 0.5s;
}

.picture-buclet {
  z-index: 1;
  display: flex;
  align-items: flex-end;
  width: 30%;
}
.pic-mobile img {
  width: 100%;
}

.container-txt {
  margin-right: 20%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  width: 30%;
}

.main-txt-about-fest {
  z-index: 1;
  font-family: "Unbounded", sans-serif;
  font-size: 300%;
  font-weight: 600;
  color: aliceblue;
}

.txt-about-fest {
  z-index: 1;
  font-family: "Roboto", sans-serif;
  font-size: 150%;
  color: aliceblue;
  width: 120%;
  line-height: 1.5;
}

.icons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.icons-fon {
  border-radius: 50%;
  width: 8vw;
  background-color: aliceblue;
}

.icons-fon img {
  width: 100%;
}

.icons-div {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.icons-txt {
  text-align: center;
  margin-top: 15px;
  font-family: "Roboto", sans-serif;
  font-size: 100%;
  width: 80%;
  font-weight: 500;
  color: rgb(129, 165, 194);
}

.bubles {
  display: flex;
  align-items: center;
  right: -25%;
  width: 50%;
  height: 100vh;
  @import url("https://fonts.googleapis.com/css2?family=Alfa+Slab+One&family=Bebas+Neue&family=Bungee&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&family=Roboto:ital,wght@0,100..900;1,100..900&family=Rubik:ital,wght@0,300..900;1,300..900&family=Unbounded:wght@200..900&display=swap");
  position: absolute;
  z-index: 0;
}

.bubles img {
  width: 100%;
}

.events {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.images {
  display: flex;
  gap: 10px;
  width: 50%;
  height: 70vh;
}

.image {
  flex: 1;
  min-width: 0;
  display: flex;
  justify-content: center;
  align-items: start;
  background-size: cover;
  background-position: center;
  border-radius: 50px;
  cursor: pointer;
  transition: flex 0.5s ease;
}

.caption,
.caption2,
.caption3,
.caption4 {
  margin-top: 78%;
  font-family: "Roboto", sans-serif;
  font-size: 180%;
  font-weight: 800;
  text-align: center;
  width: 90%;
  opacity: 0;
  transition: opacity 0.4s ease;
}

.caption {
  color: rgb(129, 165, 194);
}

.caption2 {
  color: rgb(238, 182, 110);
}

.caption3 {
  color: rgb(129, 194, 143);
}

.caption4 {
  color: rgb(129, 165, 194);
}

.image.active {
  flex: 5;
}

.image.active .caption,
.image.active .caption2,
.image.active .caption3,
.image.active .caption4 {
  opacity: 1;
}

.events-txt {
  font-family: "Unbounded", sans-serif;
  font-size: 250%;
  font-weight: 600;
  color: rgb(52, 11, 88);
}

.div-events-txt {
  margin-bottom: 4%;
}

.schedule {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  background: linear-gradient(
    179deg,
    rgba(77, 161, 161, 1) 0%,
    rgba(209, 243, 255, 1) 100%
  );
  height: 100vh;
}

.pic-schedule {
  background-image: url("../img/schedule.PNG");
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  border-radius: 15px;
  height: 32vw;
  width: 35vw;
}

.schedule-txt,
.schedule-date,
.schedule-time,
.schedule-place {
  z-index: 1;
  font-family: "Roboto", sans-serif;
  font-size: 140%;
  font-weight: 400;
  color: aliceblue;
}

.schedule-txt {
  line-height: 1.5;
  width: 100%;
}

.schedule-div {
  margin-left: 15%;
  display: flex;
  flex-direction: column;
  gap: 5vh;
  width: 30%;
}

.schedule-heading {
  font-family: "Unbounded", sans-serif;
  font-size: 250%;
  font-weight: 700;
  color: aliceblue;
}

.bubles-schedule {
  display: flex;
  align-items: center;
  left: -30%;
  width: 50%;
  height: 100vh;
  position: absolute;
  z-index: 0;
}

.bubles-schedule img {
  width: 100%;
}

.schedule-img {
  width: 100%;
}

.date {
  font-weight: 700;
}

.date a {
  color: aliceblue;
}

.schedule-btns {
  border-radius: 12px;
  background-color: rgb(240, 248, 255, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  gap: 10px;
  margin-top: 3%;
  width: 25%;
  height: 7vh;
}

.date-btn,
.place-btn {
  font-family: "Unbounded", sans-serif;
  font-size: 130%;
  font-weight: 500;
  border: none;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.15);
  border-radius: 10px;
  width: 48%;
  height: 6vh;
  cursor: pointer;
  color: rgb(52, 11, 88);
}

.about-vega {
  display: flex;
  height: 100vh;
}

.txt-title-vega {
  font-family: "Unbounded", sans-serif;
  font-size: 250%;
  font-weight: 600;
  color: rgb(52, 11, 88);
}

.txt-about-vega {
  padding: 30px 15px;
  color: rgb(52, 11, 88);
  border-radius: 15px;
  font-family: "Roboto", sans-serif;
  font-size: 150%;
  font-weight: 300;
  width: 100%;
  line-height: 1.3;
}

.photo {
  position: absolute;
  background-color: black;
  width: 100px;
  height: 100px;
  border-radius: 50%;
}

.title-about-vega {
  margin-top: 2%;
  gap: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  width: 100%;
  text-align: center;
}

.title-about-vega div {
  display: flex;
  justify-content: center;
  background-color: rgba(199, 217, 233, 0.5);
  box-shadow: 0 0 100px rgba(108, 111, 255, 0.3);
  width: 45%;
  border-radius: 15px;
}

section {
  width: 100%;
  padding: 20px;
}

.swiper {
  height: 45vh;
  margin: 50px auto;
  padding-bottom: 60px;
  user-select: none;
}

.swiper-slide {
  position: relative;
  height: 500px;
  border-radius: 30px;
  overflow: hidden;
  filter: grayscale(20%) brightness(80%);
  pointer-events: none;
  will-change: transform;
}

.swiper-slide .front {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  border-radius: 30px;
}

.swiper-slide .front::before {
  content: "";
  position: absolute;
  inset: 0;
  background: radial-gradient(
    circle closest-side,
    #658bd9 3px,
    transparent 3px
  );
  background-size: 8px 8px;
  transition: opacity 0.2s cubic-bezier(0.86, 0, 0.07, 1);
  opacity: 0.3;
}

.swiper-slide-active .front::before {
  opacity: 0;
}

.swiper-slide-active {
  filter: grayscale(0) brightness(100%);
  pointer-events: auto;
  padding: 10px 0;
  transition: all 0.3s ease-in-out;
}

.swiper-slide-active .card {
  position: relative;
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
  transition: transform 0.5s;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 30px;
  pointer-events: none;
}

.swiper-pagination-bullet {
  width: 18px;
  height: 18px;
  background-color: #7e7e7e;
  border-radius: 50%;
  transition: all 0.6s ease-in-out;
}

.swiper-pagination-bullet-active {
  width: 36px;
  background-color: #717271;
  border-radius: 14px;
}

.swiper-main {
  height: 100vh;
  display: flex;
  align-items: end;
}
