/* Импорт шрифтов */
@import url("https://fonts.googleapis.com/css2?family=Alfa+Slab+One&family=Bungee&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&family=Roboto:ital,wght@0,100..900;1,100..900&family=Rubik:ital,wght@0,300..900;1,300..900&family=Unbounded:wght@200..900&display=swap");

html {
  scroll-behavior: smooth;
}

.headbar {
  margin-top: 1%;
  height: 100vh;
}

.tags {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
}

.headbar-href {
  font-family: "Roboto", sans-serif;
  font-size: 110%;
  font-weight: 700;
  text-decoration: none;
  color: black;
}

.start {
  margin-top: -2%;
  height: 100%;
}

.fest-btn {
  margin-top: 31.5%;
  margin-left: 2%;
  width: 22%;
  border-radius: 40px;
  z-index: 1;
  position: absolute;
  border: none;
  background-image: linear-gradient(
    153deg,
    rgb(235, 31, 31) 0%,
    rgb(143, 77, 197) 50%,
    rgb(47, 49, 172) 94%
  );
  cursor: pointer;
}

.fest-btn a {
  text-decoration: none;
  color: white;
  font-family: "Roboto", sans-serif;
  font-size: 250%;
  font-weight: 500;
}

.hero-wrapper {
  height: 100%;
  width: 70vw;
  display: flex;
  align-items: center;
  margin: 0 auto; /* по центру */
}
.hero-wrapper img {
  width: 100%;
  height: auto; /* сохраняем пропорции */
  display: block;
  clip-path: url(#hero-clip);
}

.about-fest {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  background: #4da1a1;
  background: linear-gradient(
    179deg,
    rgba(77, 161, 161, 1) 0%,
    rgba(209, 243, 255, 1) 100%
  );
  height: 100vh;
  transition: 0.5s;
}

.picture-buclet {
  z-index: 1;
  display: flex;
  align-items: flex-end;
  width: 30%;
}
.pic-mobile img {
  width: 100%;
}

.container-txt {
  margin-right: 20%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  width: 30%;
}

.main-txt-about-fest {
  z-index: 1;
  font-family: "Unbounded", sans-serif;
  font-size: 300%;
  font-weight: 600;
  color: aliceblue;
}

.txt-about-fest {
  z-index: 1;
  font-family: "Roboto", sans-serif;
  font-size: 150%;
  color: aliceblue;
  width: 120%;
  line-height: 1.5;
}

.icons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.icons-fon {
  border-radius: 50%;
  width: 8vw;
  background-color: aliceblue;
}

.icons-div {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.icons-txt {
  text-align: center;
  margin-top: 15px;
  font-family: "Roboto", sans-serif;
  font-size: 100%;
  width: 80%;
  font-weight: 500;
  color: rgb(129, 165, 194);
}

.bubles {
  display: flex;
  align-items: center;
  right: -25%;
  width: 50%;
  height: 100vh;
  position: absolute;
  z-index: 0;
}

.bubles img {
  width: 100%;
}
